.P-NAV {
  background-color: #333; /* Couleur de fond pour la barre de navigation */
  padding: 10px 20px; /* Espacement intérieur */
}

.P-NAV ul {
  display: flex;
  justify-content: space-between; /* Espacement égal entre les éléments */
  list-style-type: none; /* Supprime les puces des éléments de la liste */
  padding: 0;
  margin: 0;
}

.P-NAV li {
  display: inline-block;
  margin: 0 15px; /* Espacement entre les éléments */
}

.P-NAV a {
  color: white; /* Couleur du texte des liens */
  text-decoration: none; /* Supprime le soulignement */
  font-size: 18px; /* Taille de police */
  font-weight: bold; /* Police en gras */
}

.P-NAV a:hover {
  color: #ff6347; /* Couleur du texte au survol */
}

.P-NAV input[type="search"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.P-NAV input[type="search"]:focus {
  outline: none;
  border-color: #ff6347; /* Bordure en rouge au focus */
}


